* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #1e1e2f;
  font-family: Arial;
}

.calculator {
  width: 320px;
  background: #2d2d44;
  padding: 20px;
  border-radius: 10px;
}

.display {
  width: 100%;
  height: 100px;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
}

.previous-value {
  font-size: 18px;
  color: gray;
}

.current-value {
  font-size: 32px;
  color: black;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

button {
  border-radius: 6px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
}

.main-buttons {
  gap: 10px;
  padding: 10px 0;
  display: flex;
}

.clear {
  border-radius: 6px;
  background-color: rgb(0, 128, 0);
  border: none;
  height: 50px;
  width: 50%;
}

.delete {
  border-radius: 6px;
  background-color: red;
  border: none;
  height: 50px;
  width: 50%;
}
